@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900 antialiased;
  }
}

@keyframes barber {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 34px 0;
  }
}

.animate-barber {
  animation: barber 2s linear infinite;
  background-image: repeating-linear-gradient(
    -45deg,
    theme("colors.amber.400") 0px,
    theme("colors.amber.400") 6px,
    transparent 6px,
    transparent 12px
  );
  background-size: 200% 200%;
}
